tensorflow==2.15.0
opencv-python
matplotlib
scikit-learn
imutils
bs4
imgaug
pandas
streamlit
torch
basicsr==1.4.2
torchvision==0.17.1
facexlib
lmdb
tqdm
yapf
pyyaml
scipy
tb-nightly
realesrgan
openpyxl
st_pages